<!-- <h2>Pipe examples</h2>

<br/>
<br/>
<span>
    <b>Date without date pipe </b>{{today }}
</span>
<br/>
 <span>
    <b>Date with date pipe: </b>{{today | date }}
</span>
<br/>
<p>
    <b>The full date/time is </b>{{today | date:'short'}}</p>
<br/>
<p>The custom date is {{today | date:'yyyy-MM-dd HH:mm a'}}</p>
<br/>
<br/>

<table class="table">
    <tr>
        <td>
            <b>Name</b>
        </td>
        <td>
            <b>Country</b>
        </td>
    </tr>
    <tr *ngFor="let team of teams | reverse">
        <td>{{team.Name | titlecase}}</td>
        <td>{{team.CountryName | uppercase}}</td>
    </tr>
</table>

 -->
<!-- <input [OnlyDigits]="true" type="text"/>
<br/>
<input [OnlyDigits]="true" type="text"/>
<br/>
<input [OnlyDigits]="true" type="text"/>
<br/>
<input  type="text"/>
<br/>
<input [OnlyDigits]="true" type="text"/> -->
